/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.nrepl-history
.hgignore
.hg/

# Mac OS X
.DS_STORE

# Build output
generated/

# Release artifact
release/

# NPM
node_modules/

# Emacs
## Ignore temp files
/**/.#*
