/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.nrepl-history
.hgignore
.hg/

# Build output
out/

# NPM Binaries
node_modules/fsevents/lib/binding/Release/node-v51-darwin-x64/